@mixin ctnpre($al-itm,$cur,$heig,$jus-con,$pos,$lef,$top,$width,$z-in) {
  align-items: $al-itm;
  cursor: $cur;
  display: flex;
  height: $heig;
  justify-content: $jus-con;
  position:$pos;
  left: $lef;
  top:$top;
  width:$width;
  z-index: $z-in;
}

@mixin ctnload($anima,$col,$con,$lef,$opa,$pos,$top,$transt) {
  animation: $anima;
  color:$b-color;
  content: $con;
  left: $lef;
  opacity: $opa;
  position:$pos;
  top: $top;
  transform: $transt;
}

@mixin ctnpre-spin($anima,$b-rad,$bor,$bor0t,$heig,$mar,$widt) {
  animation: $anima;
  border-radius: $b-rad;
  border:$bor;
  border-top-color:$b-color;
  height:$heig;
  margin: $mar;
  width:$widt;
}


@mixin nav($pos,$width,$hei,$top,$z-ind,$pad-t) {
  position: $pos;
  width: $width;
  height: $hei;
  top: $top;
  z-index: $z-ind;
  padding-top: $pad-t;
}

@mixin ull($jus-con,$ali-it,$mar-t) {
  display: flex;
  justify-content: $jus-con;
  align-items: $ali-it;
  margin-top: $mar-t;
}

@mixin lii($pos,$lis-st,$dis,$cur,$pad) {
  position:$pos;
  list-style: $lis-st;
  display: $dis;
  cursor: $cur;
  padding: $pad;
}

@mixin alink($dis,$col,$text-t,$f-weg,$transt) {
  display: $dis;
  color: $w-color !important;
  text-transform:$text-t;
  font-weight: $f-weg;
  transition: $transt;
}

@mixin bi-caret($f-size,$pad,$col,$just,$alig) {
  font-size: $f-size;
  padding:$pad;
  color: $w-color;
  justify-content: $just;
  align-items: $alig;
}

@mixin btn( $b-col,$b-rad, $pad, $f-fam, $f-siz, $f-weg, $t-tr, $transt) {
  background-color: $b-col;
  border-radius: $b-rad;
  padding: $pad;
  font-family:$f-fam;
  font-size: $f-siz;
  font-weight: $f-weg;
  text-transform:$t-tr;
  transition: $transt;
}
@mixin dropd($b-col,$width, $pos, $cur, $top, $left, $z-i, $dis,$pad) {
  background: $w-color;
  width: $width;
  position:$pos;
  cursor:$cur;
  top: $top;
  left: $left;
  z-index:$z-i;
  display:$dis; 
  padding: $pad;
}

@mixin dropli($dis,$width,$pad,$pad-r,$bor-b) {
  display: $dis;
  width: $width;
  padding: $pad;
  padding-right: $pad-r;
  border-bottom:$bor-b;
}
@mixin dropa($dis, $color, $pad-l, $f-size,$f-wg, $trant,$text-t) {
  display: $dis;
  color: $b-color !important;
  padding-left: $pad-l;
  font-size: $f-size;
  font-weight:$f-wg;
  transition: $trant;
  text-transform: $text-t;
}

@mixin sidepa($jus,$heig,$wid,$pos,$z-in,$top,$rig,$back,$over,$pad-t,$transt) {
  display: flex;
  justify-content: $jus;
  height: $heig; 
  width: $wid;
  position: $pos; 
  z-index:$z-in;
  top: $top;
  right: 0;
  background-color:$back; 
  overflow-x: $over; 
  padding-top: $pad-t; 
  transition: $transt; 
}

@mixin responsa($pad,$text-d,$f-size,$col,$dis,$transt) {
  padding:$pad;
  text-decoration:$text-d;
  font-size: $f-size;
  color:$col;
  display: $dis;
  transition: $transt;
}

@mixin closebtn($box-s,$pos,$top,$rig,$f-size,$mar-l) {
  box-shadow: $box-s; 
  position:$pos;
  top: $top;
  right: $rig;
  font-size:$f-size;
  margin-left: $mar-l;
}

@mixin openbtn($dis,$f-size,$cur,$back-c,$col,$pad,$b-rad,$bor,$pos,$rig,$top) {
  display:$dis;
  font-size: $f-size;
  cursor: $cur;
  background-color: $main-color;
  color:$col;
  padding: $pad;
  border-radius: $b-rad;
  border: $bor;
  position: $pos;
  right: $rig;
  top:$top;
}

@mixin contbefor($back,$cont,$heig,$bot,$po,$widt,$z-ind,$trans) {
  background: $w-color;
  content: $cont;
  height: $heig;
  bottom: $bot;
  position:$po;
  width: $widt;
  z-index:$z-ind;
  transform: $trans;
}

@mixin fixed($back-col,$col,$pad,$pos,$top,$left,$right,$z-ind,$transt,$trans) {
  background-color: $b-color !important;
  color: $w-color !important;
  padding: $pad;
  position: $pos;
  top: $top;
  left: $left;
  right: $right;
  z-index: $z-ind;
  transition: $transt;
  transform:$trans;
}

@mixin sericon($bor-rig,$col,$pad,$mar-bot,$transt) {
  border-right: $bor-rig;
  color:$light-color;
  padding: $pad;
  margin-bottom: $mar-bot;
  transition: $transt;
}

@mixin serh3($col,$f-weig,$let-spac,$f-fam,$mar,$pad) {
  color:$lg-color;
  font-weight: $f-weig;
  letter-spacing: $let-spac;
  font-family: $f-fam;
  margin: $mar;
  padding: $pad;
}

@mixin sercard($wid,$juscont,$text-a,$al-itm,$dis) {
  width:$wid;
  justify-content: $juscont;
  text-align: $text-a;
  align-items: $al-itm;
  display:$dis;
}

@mixin isohead($jus-con,$al-itm,$transt) {
  display: flex;
  justify-content:$jus-con;
  align-items: $al-itm;
  transition: $transt;
}

@mixin isotextP($col,$pad,$margin,$bor-l,$pad-l,$text-t,$f-size,$f-fam,$f-weg,$let-spac) {
  color:$lg-color;
  padding: $pad;
  margin: $margin;
  border-left:$bor-l;
  padding-left: $pad-l;
  text-transform:$text-t;
  font-size:$f-size;
  font-family: $f-fam;
  font-weight: $f-weight;
  letter-spacing: $let-spac;
}

@mixin iso-btn($pad,$border,$col,$cur,$back-c,$margin,$transt){
  padding: $pad;
  border: $border;
  color:$lg-color;
  cursor: $cur;
  background-color: $back-c;
  margin:$margin;
  transition: $transt;
}

@mixin iso-over($transt,$opa,$posit,$width,$top,$left,$trans,$text-al) {
  transition: $transt;
  opacity: $opa;
  position:$posit;
  width: $width;
  top: $top;
  left: $left;
  transform: $trans;
  text-align: $text-al;
}

@mixin elimg($opa,$dis,$heig,$widt,$transt,$back-vis) {
  opacity: $opa;
  display:$dis;
  height: $heig;
  width: $widt;
  transition: $transt;
  backface-visibility: $back-vis;
}

@mixin overh3($f-size,$col,$opa,$margin,$transt,$trans,$f-fam,$text-t,$let-spa,$f-weig) {
  font-size: $f-size;
  color: $w-color;
  opacity:$opa;
  margin: $margin;
  transition:$transt;
  transform: $trans;
  font-family: $f-fam;
  text-transform:$text-t;
  letter-spacing: 0.5px;
  font-weight: $f-weight;
}

@mixin overa($col,$f-size,$margin,$dis,$z-ind,$pos,$curs) {
  color: $w-color;
  font-size: $f-size;
  margin: $margin;
  display: $dis;
  z-index: 1;
  position: $pos;
  cursor: $curs;
};

@mixin overbefore($pos,$top,$rig,$bot,$left,$widt,$heg,$bor,$cont) {
  position:$pos;
  top: $top;
  right:$rig;
  bottom:$bot;
  left: $left;
  width: $widt;
  height: $heg;
  border: $bor;
  content: $cont;
}

@mixin doctext($max-wid,$alig-it,$mar-t,$pad) {
  max-width: $max-wid;
  display: flex;
  align-items: $alig-it;
  margin-top: $mar-t;
  padding: $pad;
}

@mixin docicon($wid,$heig,$li-heig,$mar-rig,$col,$back-col,$b-rad,$dis,$text-a) {
  width:$wid;
  height:$heig;
  line-height: $li-heig;
  margin-right: $mar-rig;
  color: $w-color;
  background-color: $main-color;
  border-radius: $b-rad;
  display: $dis;
  text-align: $text-a;
}

@mixin numrow($max-wid,$back-col,$t-alig,$col,$visib) {
  max-width: $max-wid;
  display: flex;
  background-color:$lg-color;
  text-align:$t-alig;
  color: $w-color;
  visibility: $visib;
}

@mixin teamh3($col,$pad,$mar,$text-t,$f-size,$f-fam,$f-weig,$let-spac) {
  color: $lg-color;
  padding: $pad;
  margin: $mar;
  text-transform:$text-t;
  font-size:$f-size;
  font-family: $f-fam;
  font-weight: $f-weight;
  letter-spacing:$let-spac;
}

@mixin teamtop($pos,$flot,$b-left,$b-rig,$bor-t,$bor-b) {
  position:$pos;
  display: block;
  float: $flot;
  border-left:$b-left;
  border-right: $b-rig;
  border-top: $bor-t;
  border-bottom:$bor-b;
}

@mixin cardh3($f-weig,$text-a,$f-siz,$mar-bot,$pad-rig) {
  font-weight: $f-weight;
  text-align: $text-a;
  font-size: $f-siz;
  margin-bottom: $mar-bot;
  padding-right: $pad-rig;
}

@mixin parallax($mar,$col,$back-s,$back-att,$back-rep,$back-pos,$pos,$pad) {
  margin: $mar;
  color: $w-color !important;
  background-size: $back-s !important;
  background-attachment: $back-att !important;
  background-repeat: $back-rep;
  background-position: $back-pos;
  position: $pos;
  padding:$pad;
}

@mixin overlay($pos,$lef,$top,$bot,$rig,$width,$heg) {
  position:$pos;
  left: $lef;
  top: $top;
  bottom: $bot;
  right: $rig;
  width: $width;
  height:$heg;
}

@mixin pricicon($bor-rig,$col,$pad,$mar-b,$transt) {
  border-right: $bor-rig;
  color:$light-color;
  padding:$pad;
  margin-bottom: $mar-b;
  transition: $transt;
}

@mixin prich3($b-color,$f-weig,$let-spac,$f-fam,$margin,$pad) {
  color: $b-color;
  font-weight: $f-weig;
  letter-spacing: $let-spac;
  font-family: $f-fam;
  margin: $margin;
  padding: $pad;
}

@mixin planhov($transt,$box-s,$top,$bor,$back-c) {
  transition: $transt;
  box-shadow: $box-s;
  top: $top;
  border: $bor;
  background-color:$w-color;
}

@mixin pname($dis,$f-size,$li-heig,$f-weig,$pad,$col) {
  display: $dis;
  font-size: $f-size;
  line-height: $li-heig;
  font-weight: $f-weig;
  padding: $pad;
  color:$light-color;
}

@mixin p-price($f-size,$pad,$mar-bot,$pos,$back,$trant,$f-fam,$fweig,$li-hg,$col) {
  font-size:$f-size;
  padding: $pad;
  margin-bottom: $mar-bot;
  position: $pos;
  background:$back;
  transition: $trant;
  font-family: $f-fam;
  font-weight: $f-weight;
  line-height: $li-hg;
  color: $g-color;
}

@mixin currency($top,$left,$pos,$f-size,$li-heg,$f-weig,$ver-alig) {
  top: $top;
  left:$left;
  position:$pos;
  font-size:$f-size;
  line-height: $li-heg;
  font-weight: $f-weig;
  vertical-align: $ver-alig;
}

@mixin planafter($bot,$bor,$cont,$pos,$bor-wi,$bor-tc,$left,$margin-l) {
  bottom: $bot;
  border: $bor;
  content: $cont;
  position:$pos;
  border-width: $bor-wi;
  border-top-color:$bor-tc;
  left: $left;
  margin-left: $margin-l;
}

@mixin plan-li($bor-t,$pad,$f-weig,$f-size,$col) {
  border-top: $bor-t;
  padding: $pad;
  font-weight: $f-weight;
  font-size:$f-size;
  color: $g-color;
}

@mixin plana($back-c,$mar-top,$mar-bot,$bor,$col,$bor-rad,$pad,$back,$f-size,$t-trans,$transt,$cur) {
  background-color: $back-c;
  margin-top: $mar-top;
  margin-bottom: $mar-bot;
  border: $bor;
  color: $col;
  border-radius: $bor-rad;
  padding: $pad;
  background: $back;
  font-size: $f-size;
  text-transform: $t-trans;
  transition: $transt;
  cursor: $cur;
}

@mixin swip-sl($t-align,$f-size,$jus-con,$align-i) {
  text-align: $t-align;
  font-size: $f-size;
  display: flex;
  justify-content: $jus-con;
  align-items: $align-i;
}

@mixin testimg($width,$heig,$bor-w,$bor-s,$bor-c,$bor-im,$pad,$bor-r) {
  width: $width;
  height: $heig;
  border-width:$bor-w;
  border-style:$bor-s;
  border-color:$bor-c;
  border-image: $bor-im;
  padding: $pad;
  border-radius: $bor-r;
}

@mixin testip($f-size,$li-heig,$max-wid,$pad-top,$dis,$pos,$col) {
  font-size: $f-size;
  line-height: $li-heig;
  max-width: $max-wid;
  padding-top:$pad-top;
  display: $dis;
  position: $pos;
  color:$col;
}

@mixin testih3($f-size,$text-t,$color,$mar,$lin-heig,$f-weig) {
  font-size: $f-size;
  text-transform: $text-t;
  color: $color;
  margin: $mar;
  line-height: $lin-heig;
  font-weight: $f-weight;
}

@mixin testispan($text-t,$dis,$f-size,$col,$-weig,$marg-t) {
  text-transform: $text-t;
  display: $dis;
  font-size: $f-size;
  color:$col;
  font-weight: $f-weight;
  margin-top: $marg-t;
}

@mixin slider($over,$wid,$heig,$mar,$pad) {
  overflow:$over;
  width: $wid;
  height: $heig;
  margin: $mar;
  padding: $pad;
}

@mixin footh3($mar-b,$f-weig,$f-size,$text-t) {
  margin-bottom:$mar-b;
  font-weight: $f-weight;
  font-size: $f-size;
  text-transform: $text-t;
}

@mixin footh4($f-size,$line-he,$f-fam,$text-t,$let-spac) {
  font-size: $f-size;
  line-height:$line-he;
  font-family:$f-fam;
  text-transform: $text-t;
  letter-spacing: $let-spac;
}

@mixin formcont($pos,$b-t-r,$b-b-r,$bor,$box,$pad,$heig,$back,$col,$f-size,$bor-rad) {
  position: $pos;
  border-top-right-radius: $b-t-r;
  border-bottom-right-radius:$b-b-r;
  border: $bor;
  box-shadow: $box;
  padding: $pad;
  height: $heig;
  background: $back;
  color:$light-color;
  font-size: $f-size;
  border-radius: $bor-rad;
}

@mixin formbutton($col,$b-r,$pad,$back,$f-size,$text-t,$trans,$bor-wid) {
  color:$lg-color;
  border-radius: $b-r;
  padding:$pad;
  background: $back;
  font-size:$f-size;
  text-transform: $text-t;
  transition: $trans;
  border-width: $bor-wid;
}

@mixin copyli($just-c,$text-a,$gap,$mar-l) {
  display: flex;
  justify-content:$just-c;
  text-align:$text-a;
  gap: $gap;
  margin-left:$mar-l;
}

@mixin copyinfo($f-size,$bor-t,$max-wid,$mar,$pad-t) {
  font-size: $f-size;
  border-top: $bor-t;
  max-width: $max-wid;
  margin: $mar;
  padding-top: $pad-t;
}

@mixin copybefore($back,$cont,$heig,$top,$pos,$wid,$z-in,$trans) {
  background: $back;
  content: $cont;
  height: $heig;
  top: $top;
  position:$pos;
  width: $wid;
  z-index: $z-in;
  transform: $trans;
}

@mixin endbutton($dis,$back,$wid,$heig,$bor-r,$pos,$bot,$rig,$transt,$opo,$z-in,$bor,$pad,$bor-wid) {
  display:$dis;
  background: $back;
  width: $wid;
  height:$heig;
  border-radius: $bor-r;
  position: $pos;
  bottom: $bot;
  right: $rig;
  transition: $transt;
  opacity: $opo;
  z-index: $z-in;
  border: $bor;
  padding: $pad;
  border-width: $bor-wid;
}

@mixin but-i($f-siz,$col,$pos,$rig,$top) {
  font-size: $f-siz;
  color: $w-color;
  position:$pos;
  right: $rig;
  top: $top;
}

@mixin modal-con($wid,$pos,$top,$rig) {
  width: $wid;
  position:$pos;
  top: $top; 
  right: $rig;
}

@mixin btn-clos($bor,$f-size,$wid,$heg,$bor-r) {
  border: $bor;
  font-size: $f-size;
  width:$wid;
  height:$heg;
  border-radius:$bor-r;
}

@mixin link($back-c,$pad,$jus-con,$bor,$wid,$tex-al,$mar-lef,$bor-rad,$transt) {
 background-color:$back-c;
 padding: $pad;
 display: flex;
 justify-content:$jus-con;
 border: $bor;
 width: $wid;
 text-align: $tex-al;
 margin-left: $mar-lef;
 border-radius: $bor-rad;
 transition: $transt;
}


///About///
@mixin compicon($bor-r,$col,$pad,$mar-b,$transt) {
  border-right: $bor-r;
  color:$col;
  padding:$pad;
  margin-bottom:$mar-b;
  transition:$transt; 
}

@mixin comph2($col,$f-weig,$let-sp,$f-fam,$text-t) {
  color: $lg-color;
  font-weight: $f-weig;
  letter-spacing: $let-sp;
  font-family: $f-fam;
  text-transform: $text-t;
}

@mixin ver-but($dis,$back-col,$col,$pad,$wid,$bor,$out,$text-a,$cur) {
  display: $dis;
  background-color: $back-col;
  color: $b-color;
  padding: $pad;
  width: $wid;
  border: $bor;
  outline:$out;
  text-align:$text-a;
  cursor: $cur;
}

@mixin tabh3($col,$f-size,$f-weg,$pad-t,$f-fam) {
  color:$lg-color;
  font-size: $f-size;
  font-weight:$f-weg;
  padding-top: $pad-t;
  font-family: $f-fam;
}

@mixin tabp($f-fam,$f-weg,$f-size,$l-heig,$col) {
 font-family:$f-fam;
 font-weight: $f-weight;
 font-size:$f-size;
 line-height: $l-heig;
 color: $g-color;
}

@mixin numroww($wid,$al-itm,$text-a,$pos,$col) {
  display: flex;
  width: $wid;
  align-items: $al-itm;
  text-align: $text-a;
  position:$pos;
  color: $w-color;
}

@mixin numbut($back-col,$bor,$bor-r,$pad,$col,$f-fam,$f-siz,$f-weig,$text-t,$transt) {
  background-color: $back-col;
  border: $bor;
  border-radius: $bor-r;
  padding: $pad;
  color:$main-color;
  font-family:$f-fam;
  font-size: $f-siz;
  font-weight:$f-weig;
  text-transform: $text-t;
  transition: $transt;
}

@mixin blogdate($pos,$top,$left,$col,$back,$bor-r,$pad,$f-weig) {
  position:$pos;
  top: $top;
  left:$left;
  color:$w-color;
  background:$main-color;
  border-radius:$bor-r;
  padding: $pad;
  font-weight: $f-weig;
}

@mixin posth2($f-size,$line-heig,$f-fam,$text-t,$let-sp) {
  font-size: $f-size;
  line-height:$line-heig;
  font-family: $f-fam;
  text-transform: $text-t;
  letter-spacing: $let-sp;
}

@mixin widh3($f-size,$li-heig,$mar-b,$col,$f-fam,$text-t,$let-sp) {
  font-size: $f-size;
  line-height: $li-heig;
  margin-bottom: $mar-b;
  color:$lg-color;
  font-family: $f-fam;
  text-transform: $text-t;
  letter-spacing: $let-sp;
}

//career//

@mixin wraph4($f-weig,$f-size,$let-spac,$f-fam,$bor-b) {
  font-weight: $f-weig;
  font-size: $f-size;
  letter-spacing:$let-spac;
  font-family: $f-fam;
  border-bottom: $bor-b ;
}

@mixin wrapblock($wid,$b-rad,$over,$mar-b,$back-c,$heig) {
  width: $wid;
  border-radius: $b-rad;
  overflow:$over;
  margin-bottom: $mar-b;
  background-color:$back-c;
  height: $heig;
}

@mixin wraptitle($bor-r,$b-l-r,$b-r-r,$pad-l,$box-s,$heig,$col,$back-c,$l-heig,$cur,$pos) {
  border-radius: $bor-r;
  border-bottom-left-radius:$b-l-r;
  border-bottom-right-radius: $b-r-r;
  padding-left: $pad-l;
  box-sizing: $box-s;
  height: $heig;
  color:$w-color;
  background-color:$back-c;
  line-height: $l-heig;
  cursor: $cur;
  position: $pos;
}

@mixin blocktitle($color,$f-weig,$f-fam,$text-t,$back-c) {
  color:$color;
  font-weight:$f-weig;
  font-family: $f-fam;
  text-transform: $text-t;
  background-color: $e7col;
}

@mixin arrow($bor,$bor-t,$transt,$pos,$rig,$top) {
  border:$bor;
  border-top: $bor-t;
  transition: $transt;
  position:$pos;
  right: $rig;
  top: $top;
}

@mixin btna($bor,$col,$b-rad,$pad,$back,$f-size,$text-t,$transt,$bor-wid) {
  border: $bor;
  color:$main-color;
  border-radius: $b-rad;
  padding: $pad;
  background:$back;
  font-size: $f-size;
  text-transform: $text-t;
  transition: $transt;
  border-width: $bor-wid;
}

@mixin wrapli($list-s,$f-size,$col,$line-heig) {
  list-style-type: $list-s;
  font-size: $f-size;
  color: $col;        
  line-height: $line-heig;
}