@mixin ctnpre($al-itm,$cur,$heig,$jus-con,$pos,$lef,$top,$width,$z-in) {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
}

@mixin ctnload($anima,$col,$con,$lef,$opa,$pos,$top,$transt) {
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

@mixin ctnpre-spin($anima,$b-rad,$bor,$bor0t,$heig,$mar,$widt) {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  height: 6em;
  margin: 0 auto 3.5em auto;
  width: 6em;
}
@mixin btn( $b-col,$b-rad, $pad, $f-fam, $f-siz, $f-weg, $t-tr, $transt) {
  background-color: inherit;
  border-radius: 30px;
  padding: 10px 28px;
  font-family: "Lato" sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
@mixin dropd($b-col,$width, $pos, $cur, $top, $left, $z-i, $dis) {
  background: $w-color;
  width: 190px;
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: -30px;
  z-index: 999;
  display: none;

}

@mixin alink($dis, $color, $pad-l, $f-size,$f-wg, $trant,$text-t) {
  display: block;
  color: $b-color !important;
  padding-left: 8px;
  font-size: 12px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}

@mixin burgers($pos, $top, $right, $b-color, $pad, $f-size, $l-heg, $dis) {
  position: absolute;
  top: -33px;
  right: 25px;
  background-color: $main-color;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  display: block;
}

@mixin ull($pos,$width,$left,$top,$gap,$f-dir,$b-color,$over,$ali,$transt) {
  position: fixed;
  width: 100%;
  left: -100%;
  top: 106px;
  gap: 0;
  flex-direction: column;
  background-color: $b-color;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
}

@mixin isotextP($col,$pad,$margin,$bor-l,$pad-l,$text-t,$f-size,$f-fam,$f-weg,$let-spac) {
  color: #323232;
  padding: 0;
  margin: 0;
  border-left: 2px solid #e7e7e7;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 32px;
  font-family: "Lato" sans-serif;
  font-weight: $f-weight;
  letter-spacing: 0.5px;
}

@mixin iso-btn($pad,$border,$col,$cur,$back-c,$margin,$transt){
  padding: 2px 14px;
  border: 1px solid #ddd;
  color: #323232;
  cursor: pointer;
  background-color: inherit;
  margin: 0 8px;
  transition: 0.2s ease-in;
}

@mixin iso-over($transt,$opa,$posit,$width,$top,$left,$trans,$text-al) {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@mixin overh3($f-size,$col,$opa,$margin,$transt,$trans,$f-fam,$text-t,$let-spa,$f-weig) {
  font-size: 16px;
  color: $w-color;
  opacity: 0;
  margin: 25% 0 10px 0;
  transition: transform 0.35s;
  transform: translate3d(0, 100%, 0);
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: $f-weight;
}

@mixin overa($col,$f-size,$margin,$dis,$z-ind,$pos,$curs) {
  color: $w-color;
  font-size: 25px;
  margin: 5px 5px 10px;
  display: inline-block;
  z-index: 1;
  position: relative;
  cursor: pointer;
};

@mixin overbefore($pos,$top,$rig,$bot,$left,$widt,$heg,$bor,$cont) {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  content: "";
}

@mixin numrow($max-wid,$back-col,$t-alig,$col,$visib) {
  max-width: 100%;
  display: flex;
  background-color: #323232;
  text-align: center;
  color: $w-color;
  visibility: visible;
}

@mixin teamh3($col,$pad,$mar,$text-t,$f-size,$f-fam,$f-weig,$let-spac) {
  color: $lg-color;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Lato" sans-serif;
  font-weight: $f-weight;
  letter-spacing: 0.3px;
}

@mixin teamtop($pos,$flot,$b-left,$b-rig,$bor-t,$bor-b) {
  position: absolute;
  display: block;
  float: left;
  border-left: 120px solid $w-color;
  border-right: 120px solid $w-color;
  border-top: $bor-t;
  border-bottom:$bor-b;
}

@mixin parallax($mar,$col,$back-s,$back-att,$back-rep,$back-pos,$pos,$pad) {
  margin: 60px 0px;
  color: $w-color !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  position: relative;
  padding: 150px 0px;
}

@mixin overlay($pos,$lef,$top,$bot,$rig,$width,$heg) {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@mixin prich3($b-color,$f-weig,$let-spac,$f-fam,$margin,$pad) {
  color: $b-color;
  font-weight: 450;
  letter-spacing: 1px;
  font-family: "Lato" sans-serif;
  margin: 0;
  padding: 0;
}

@mixin pname($dis,$f-size,$li-heig,$f-weig,$pad,$col) {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding: 20px 0;
  color: #959595;
}

@mixin p-price($f-size,$pad,$mar-bot,$pos,$back,$trant,$f-fam,$fweig,$li-hg,$col) {
  font-size: 48px;
  padding: 28px 0;
  margin-bottom: 28px;
  position: relative;
  background: #f2f2f2;
  transition: 0.3s;
  font-family: "Lato", sans-serif;
  font-weight: $f-weight;
  line-height: 1.6em;
  color: $g-color;
}

@mixin currency($top,$left,$pos,$f-size,$li-heg,$f-weig,$ver-alig) {
  top: 1.5em;
  left: 2.7em;
  position: absolute;
  font-size: 60%;
  line-height: 0;
  font-weight: 600;
  vertical-align: baseline;
}

@mixin planafter($bot,$bor,$cont,$pos,$bor-wi,$bor-tc,$left,$margin-l) {
  bottom: -30px;
  border: solid transparent;
  content: " ";
  position: absolute;
  border-width: 15px;
  border-top-color: #f2f2f2;
  left: 50%;
  margin-left: -16px;
}

@mixin plan-li($bor-t,$pad,$f-weig,$f-size,$col) {
  border-top: 1px dashed #dedede;
  padding: 12px 29px;
  font-weight: $f-weight;
  font-size: 14px;
  color: $g-color;
}

@mixin plana($back-c,$mar-top,$mar-bot,$bor,$col,$bor-rad,$pad,$back,$f-size,$t-trans,$transt,$cur) {
  background-color: $w-color !important;
  margin-top: 25px;
  margin-bottom: -20px;
  border: 2px solid $main-color;
  color: $main-color !important;
  border-radius: 50px;
  padding: 8px 30px;
  background: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@mixin swip-sl($t-align,$f-size,$jus-con,$align-i) {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin testimg($width,$heig,$bor-w,$bor-s,$bor-c,$bor-im,$pad,$bor-r) {
  width: 80px;
  height: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(142, 142, 142);
  border-image: initial;
  padding: 3px;
  border-radius: 100%;
}

@mixin testip($f-size,$li-heig,$max-wid,$pad-top,$dis,$pos,$col) {
  font-size: 16px;
  line-height: 24px;
  max-width: 800px;
  padding-top: 30px;
  display: inline-block;
  position: relative;
  color: rgb(255, 255, 255);
}

@mixin testih3($f-size,$text-t,$color,$mar,$lin-heig,$f-weig) {
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin: 10px 0px;
  line-height: 32px;
  font-weight: $f-weight;
}

@mixin testispan($text-t,$dis,$f-size,$col,$-weig,$marg-t) {
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: $f-weight;
  margin-top: -10px;
}

@mixin slider($over,$wid,$heig,$mar,$pad) {
  overflow: hidden;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

@mixin footh3($mar-b,$f-weig,$f-size,$text-t) {
  margin-bottom: 25px;
    font-weight: $f-weight;
    font-size: 20px;
    text-transform: uppercase;
}

@mixin footh4($f-size,$line-he,$f-fam,$text-t,$let-spac) {
  font-size: 14px;
      line-height: normal;
      font-family: Lato, sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.5px;
}

@mixin formcont($pos,$b-t-r,$b-b-r,$bor,$box,$pad,$heig,$back,$col,$f-size,$bor-rad) {
  position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.251);
    box-shadow: none;
    padding: 6px 20px;
    height: 50px;
    background: none;
    color: #959595;
    font-size: 14px;
    border-radius: 0;
}

@mixin formbutton($col,$b-r,$pad,$back,$f-size,$text-t,$trans,$bor-wid) {
  color: #323232;
      border-radius: 50px;
      padding: 10px 30px;
      background: none;
      font-size: 14px;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;
      border-width: 2px;
}

@mixin copyli($just-c,$text-a,$gap,$mar-l) {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin-left: 0;
}

@mixin copyinfo($f-size,$bor-t,$max-wid,$mar,$pad-t) {
  font-size: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    max-width: 850px;
    margin: 30px auto 0;
    padding-top: 15px;
}

@mixin copybefore($back,$cont,$heig,$top,$pos,$wid,$z-in,$trans) {
  background: #191919;
  content: "";
  height: 75px;
  top: -37px;
  position: absolute;
  width: 100%;
  z-index: 2;
  transform: skew(0deg, -2deg);
}

@mixin endbutton($dis,$back,$wid,$heig,$bor-r,$pos,$bot,$rig,$transt,$opo,$z-in,$bor,$pad,$bor-wid) {
  display: inline-block;
  background: none;
  width: 50px;
  height: 40px;
  border-radius: 50px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  z-index: 1000;
  border: 1px solid $w-color;
  padding: 10px 30px;
  border-width: 2px;
}

@mixin but-i($f-siz,$col,$pos,$rig,$top) {
  font-size: 12px;
  color: $w-color;
  position: absolute;
  right: 23px;
  top: 10px;
}

@mixin modal-con($wid,$pos,$top,$rig) {
  width: 600px;
  position: absolute;
  top: 100px; 
  right: 0px;
}

@mixin btn-clos($bor,$f-size,$wid,$heg,$bor-r) {
  border: 1px solid gray;
  font-size: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

@mixin link($back-c,$pad,$jus-con,$bor,$wid,$tex-al,$mar-lef,$bor-rad,$transt) {
 background-color: #1d9bf0;
 padding: 0px 0px 3px 3px;
 display: flex;
 justify-content: center;
 border: none;
 width: 40px;
 text-align: center;
 margin-left: 4px;
 border-radius: 22px;
 transition: .2s ease-in;
}

