header {
    position: relative;

    nav {
        position: fixed;
        width: 100%;
        height: 120px;
        top: 0;
        @media (max-width: 768px) {
            .logo {
              display: inline;
              margin-left: 20px;
              text-align: start !important;
              img{
                padding-top: 10px;
              }
            }
      

          }
    }

    .banner-area {
        position: relative;

        img {
            width: 100%;
            @media (max-width:768px) {
                height: 200px;
            }
        }

        .banner-title{
            position: absolute;
            top: 50%;
            width: 100%;

            h2 {
                color: #fff;
                font-size: 36px;
                font-weight: 400;
                font-family: "Lato", sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.5px
            }
            .breadcrumb{
                display: flex;
                justify-content: center;
                text-align: center;
            }
            li{
                font-weight: 500;
                text-align: center;
                a:first-child{
                    color:$main-color;
                }
            }
        }
    }

    .parallax-overlay {
        @include overlay(absolute,0,0,0,0,100%,100%);
        background: url(https://demo.themefisher.com/bizcraft/images/overaly.png);
    }
}

main {
    margin-top: 60px;
    .main-profile {
        .company {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 40px;
            &:hover {
                .companyicon {
                    color:$main-color;
                }
            }
            .companyicon {
            @include compicon(2px solid lightgrey,#959595,8px,4px,0.2s ease-in-out);
                &:hover {
                    color:$main-color;
                }
            }
            .companytext {
                margin-left: 15px;
                h2 {
            @include comph2($lg-color,450,1px,"Lato" sans-serif,uppercase)
                }
            }
        }
    }
    .vertical-tab{
        .tab {       
            border-right: 1px solid lightgrey;
            flex-direction: column;
            margin-bottom: 1rem!important;
            button {
            @include ver-but(block,inherit,$b-color,22px 16px,100%,none,none,left,pointer);    
                &:hover{
                    .vertic_icon{
                        svg{
                            color:$main-color !important;
                        }
                    }
                    .vertic_text{
                        p{
                            color:$main-color !important;
                        }

                    }
                    
                }
                .vertic{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                   
                 .vertic_icon{
                    svg{
                        width: 25px;
                        height: 25px;
                        color:$lg-color;
                    }
                   
                 }
                    .vertic_text{
                        p{
                        padding: 0;
                        margin: 0;
                        color:$lg-color;
                        font-weight: 500;
                        }
                        
                    }
                }
               
              }    
          }
                    
          .tab button:hover {
            padding-left: 10px;
            border-right: 4px solid$main-color ;
          }
                  
          .tab button.active {
            border-right: 4px solid$main-color ;
          }
          
          .tabcontent {
            float: left;
            width: 100%;
            border-left: none;
            padding-left: 3rem!important;
            
            svg{
             width: 120px;
             height: 120px;
             color:$main-color;
            }
            h3{
            @include tabh3($lg-color,24px,400,30px,"Lato" sans-serif)    
            }
            p{
            @include tabp("Lato" sans-serif,400,15px,1.6em,$g-color) 
            }

          }
          
    }
    .slider-parallax{
        position: relative;
            .num_row {
            @include numroww(100%,center,center,relative,$w-color);  
        
              .number_counter {
                width: 100%;
                padding: 46px 40px 30px;
                transition: 0.2s ease-in-out;        
              }   
              .number_text {
                span {
                  padding: 30px 0px;
                  font-weight: 500;
                  font-size: 50px;
                }
        
                p {
                  text-transform: uppercase;
                  font-weight: 500;
                  font-size: 18px;
                  padding-top: 16px;
                }
              }
            
          }
        button{
            @include numbut(inherit,2px solid $main-color,30px,10px 30px,$main-color,"Lato" sans-serif,12px,500,uppercase,0.3s ease-in-out);  
            &:hover{
                background-color:$main-color;
                color: #fff;
            }
        }
    }

    @media (max-width:768px) {
        .company{
            margin-bottom: 20px !important;
        }
        .vertical-tab{
            button{
                padding: 16px !important;
            }
            .tabcontent{
                padding: 0px 16px !important ;
                svg{
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
}
