.wrapper{
    margin-top: 40px;
    h4{
     @include wraph4(400,22px,1.4px,$f-fam,$main-color);  
    }
    p{
        font-size: 14px;
        color: rgb(113, 108, 108);
    }

    .block {
      @include wrapblock(100%,5px,hidden,5px,$e7col,41px);  
      }
      .title {
       @include wraptitle(5px,0px,0px,23px,border-box,41px,$w-color,#9c9a9a,41px,pointer,relative); 
      }
      .block{
        background-color: #fff;
        border: 1px solid lightgrey;
         .title {
        @include blocktitle(rgb(113, 108, 108),600,$f-fam,uppercase,$e7col);    
          }
      }
      .active-block {
        height: min-content;
      }
      .block.active-block .title {
        @include blocktitle(rgb(113, 108, 108),600,$f-fam,uppercase,$e7col);    
      }
      
      .text {
        margin: 8px 20px;
        li{
          @include wrapli(square,14px,#696666,18px);  
          
        }
      }
      .arrow {
        @include arrow(8px solid transparent,8px solid #696666,all 0.3s,absolute,10px,16px);
      }
      .active-block .arrow {
        border: 8px solid transparent;
        border-bottom: 8px solid #696666;
        top: 10px;
      }
      .arrow::before{
        transform: rotateY(90deg);
      }
}
.wrapper2{
  margin-top: 40px;
  h4{
    @include wraph4(400,22px,1.4px,$f-fam,$main-color);
  }
  p{
      font-size: 14px;
      color: rgb(113, 108, 108);
  }

  .block2 {
    @include wrapblock(100%,5px,hidden,5px,$e7col,41px);
    }
    .title2 {      
      @include wraptitle(5px,0px,0px,23px,border-box,41px,$w-color,#9c9a9a,41px,pointer,relative); 
    }
    .block2{
      background-color: #fff;
      border: 1px solid lightgrey;
       .title2 {
      @include blocktitle(rgb(113, 108, 108),600,$f-fam,uppercase,$e7col);
        }
    }
    .active-block {
      height: min-content;
    }
    .block2.active-block .title2 {
      @include blocktitle(rgb(113, 108, 108),600,$f-fam,uppercase,$e7col);
    }
    
    .text {
      margin: 8px 20px;
      li{
      @include wrapli(square,14px,#696666,18px);
        
      }
    }
    .arrow {
      @include arrow(8px solid transparent,8px solid #696666,all 0.3s,absolute,10px,16px);
    }
    .active-block .arrow {
      border: 8px solid transparent;
      border-bottom: 8px solid #696666;
      top: 10px;
    }
    .arrow::before{
      transform: rotateY(90deg);
    }
}
.btn{
    margin-top: 10px;
    a{
    @include btna(2px solid $main-color,$main-color,50px,10px 30px,none,14px,uppercase,all 0.3s ease 0s,2px);    
        &:hover {
            background-color: $main-color !important;
            color:white !important;
        }
        svg{
            width: 16px;
            height: 16px;
            margin-bottom: 3px;
        }
    }
}
.wrappertext{
    margin-top: 40px;
    padding: 0px 60px;
        h4{
            text-transform: uppercase;
            @include wraph4(400,22px,1.4px,$f-fam,NaN);
        }
        p{   
                font-size: 14px;
                color: rgb(113, 108, 108);
            
        }
        @media (max-width:768px) {
          padding: 0px 10px;
        }
    
}

.fixed {
  @include fixed($b-color !important,$w-color !important,40px 0px,fixed,0,0,0,99,0.7s ease-in-out,translateY(-40px));

  p {
    a {
      color: $w-color !important;
    }
  }
  ul {
    li {
      a {
        color: $w-color !important;
      }
    }
  }
}



  
  