.wrapper{
    margin-top: 40px;
    h4{
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 1.4px;
        font-family: "Lato", sans-serif;
        border-bottom: 2px solid  #81c83c ;
    }
    p{
        font-size: 14px;
        color: rgb(113, 108, 108);
    }

    .block {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 5px;
        background-color: #e7e7e7;
        height: 41px;
      }
      .title {
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-left: 23px;
        box-sizing: border-box;
        height: 41px;
        color: white;
        background-color: #9c9a9a;
        line-height: 41px;
        cursor: pointer;
        position: relative;
      }
      .block{
        background-color: #fff;
        border: 1px solid lightgrey;
         .title {
            color:rgb(113, 108, 108);
            font-weight: 600;
            font-family: "Lato", sans-serif;
            text-transform: uppercase;
            background-color: #e7e7e7;
          }
      }
      .active-block {
        height: min-content;
      }
      .block.active-block .title {
        color:rgb(113, 108, 108);
            font-weight: 600;
            font-family: "Lato", sans-serif;
            text-transform: uppercase;
            background-color: #e7e7e7;
      
      }
      
      .text {
        margin: 8px 20px;
        li{
          list-style-type: square;
          font-size: 14px;
          color: #696666;
          
          line-height: 18px;
          
        }
      }
      .arrow {
        border: 8px solid transparent;
        border-top: 8px solid #696666;
        transition: all 0.3s;
        position: absolute;
        right: 10px;
        top: 16px;
      }
      .active-block .arrow {
        border: 8px solid transparent;
        border-bottom: 8px solid #696666;
        top: 10px;
      }
      .arrow::before{
        transform: rotateY(90deg);
      }
}
.wrapper2{
  margin-top: 40px;
  h4{
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 1.4px;
      font-family: "Lato", sans-serif;
      border-bottom: 2px solid  #81c83c ;
  }
  p{
      font-size: 14px;
      color: rgb(113, 108, 108);
  }

  .block2 {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 5px;
      background-color: #e7e7e7;
      height: 41px;
    }
    .title2 {
      border-radius: 5px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      padding-left: 23px;
      box-sizing: border-box;
      height: 41px;
      color: white;
      background-color: #9c9a9a;
      line-height: 41px;
      cursor: pointer;
      position: relative;
    }
    .block2{
      background-color: #fff;
      border: 1px solid lightgrey;
       .title2 {
          color:rgb(113, 108, 108);
          font-weight: 600;
          font-family: "Lato", sans-serif;
          text-transform: uppercase;
          background-color: #e7e7e7;
        }
    }
    .active-block {
      height: min-content;
    }
    .block2.active-block .title2 {
      color:rgb(113, 108, 108);
          font-weight: 600;
          font-family: "Lato", sans-serif;
          text-transform: uppercase;
          background-color: #e7e7e7;
    
    }
    
    .text {
      margin: 8px 20px;
      li{
        list-style-type: square;
        font-size: 14px;
        color: #696666;
        
        line-height: 18px;
        
      }
    }
    .arrow {
      border: 8px solid transparent;
      border-top: 8px solid #696666;
      transition: all 0.3s;
      position: absolute;
      right: 10px;
      top: 16px;
    }
    .active-block .arrow {
      border: 8px solid transparent;
      border-bottom: 8px solid #696666;
      top: 10px;
    }
    .arrow::before{
      transform: rotateY(90deg);
    }
}
.btn{
    margin-top: 10px;
    a{
        border: 2px solid #81c83c;
        color:#81c83c;
        border-radius: 50px;
        padding: 10px 30px;
        background: none;
        font-size: 14px;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        border-width: 2px;
        &:hover {
            background-color: #81c83c !important;
            color:white !important;
        }
        svg{
            width: 16px;
            height: 16px;
            margin-bottom: 3px;
        }
    }
}
.wrappertext{
    margin-top: 40px;
    padding: 0px 60px;
        h4{
            font-weight: 400;
            font-size: 22px;
            letter-spacing: 1.4px;
            font-family: "Lato", sans-serif;
            text-transform: uppercase;
        }
        p{   
                font-size: 14px;
                color: rgb(113, 108, 108);
            
        }
        @media (max-width:768px) {
          padding: 0px 10px;
        }
    
}

.fixed {
  background-color:$b-color !important;
  color:$w-color !important;
  padding: 40px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: +99;
  transition: 0.7s ease-in-out;
  transform: translateY(-40px);

  p {
    a {
      color: $w-color !important;
    }
  }
  ul {
    li {
      a {
        color: $w-color !important;
      }
    }
  }
}

  
  