
.no-scroll-y {
  overflow-y: hidden;
}
.ctn-preloader {
@include ctnpre(center,none,100%,center,fixed,0,0,100%,900);
}

.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

.ctn-preloader .animation-preloader .spinner {
  @include ctnpre-spin(spinner 1s infinite linear,50%, 3px solid rgba(0, 0, 0, 0.2),#000000,6em,0 auto 3.5em auto,6em)
}

.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em "Montserrat", sans-serif;
  text-align: center;
  user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  @include ctnload(letters-loading 4s infinite,#000000,attr(data-text-preloader),0,0,absolute,0,rotateY(-90deg));
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 3.5em "Montserrat", sans-serif;
  }
}
@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }
}

header {
  position: relative;
  nav {
    @include nav(fixed,100%,100%,0,+11,10px);

    .logo {
      width: 100%;
      object-fit: cover;
      text-align: center;
    }

    ul {
    @include ull(space-evenly,center,14px);  

      li {
    @include lii(relative,none,inline-flex,pointer,10px 0px 20px 0px);   

        &:hover {
          .dropdown {
            display: block;
          }
        }

        .dropdown {
          @include dropd($w-color,190px,absolute,pointer,30px,-30px, 999,none,0px 15px);
          li {
          @include dropli(block,100%,14px,60px,1px solid lightgrey);
            a {
              @include dropa(block,$b-color !important,8px,12px,400,0.3s ease-in-out,capitalize);
              &:hover {
                color: $main-color !important;
              }
            }
          }
        }

        a {
        @include alink(black,$w-color !important,uppercase,500,0.3s ease-in-out);  
          &:hover {
            color: $main-color !important;
          }
        }

        .bi-caret-down-fill {
         @include bi-caret(10px,6px 0px 0px 5px,$w-color,start,center); 
        }
      }
    }

    .sidepanel{
      display: none;
    }
    .openbtn{
      display: none;
    }

    @media (max-width: 768px) {
      .logo {
        display: inline;
        margin-left: 20px;
        text-align: start !important;
        img{
          padding-top: 10px;
        }
      }
       .nav-menu{
        display: none;
       }
      .sidepanel {
       @include sidepa(space-around,440px,0,fixed,1,0,0,#111,hidden,84px,0.5s); 
      }
      .sidepanel a {
       @include responsa(4px 4px 4px 8px,none,20px,#a7a6a6,block,0.3s);
        &:hover{
          color: $main-color;
          box-shadow: 4px 4px 4px 2px rgb(90, 188, 90);
          border-radius: 10px
        }        
      }
       .closebtn {
       @include closebtn(none !important,absolute,9px,25px,36px !important,50px); 
      }    
      .openbtn {
       @include openbtn(block,20px,pointer,$main-color,$w-color,10px 15px,50%,none,absolute,24px,25px);
        &:hover {
          background-color: #444;          
        }
      }
      
    }
  }
  .swiperr {
    .swiper {
      width: 100%;
      height: 750px;
      position: relative;
      .swiper-wrapper {
        transition-timing-function: linear;
      }
      .swiper-pagination {
        z-index: 1;
        bottom: 60px;
        margin-top: 50px;
      }
    
      .swiper-pagination-bullet {
          width: 40px;
          height: 20px;
          border-radius: 50%;
        }
    
        .swiper-pagination-bullet-active {
          background: #3ca939;
        }
    }

    .gifimg {
      width: 100%;
      height: 800px;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .slidetext-1 {
      position: absolute;
      text-align: center;
      top: 33%;
      left: 30%;
      z-index: +11;
      color: $w-color;

      h1 {
        text-transform: uppercase;
        font-weight: $f-weight;
        font-size: 45px;
        font-family: "Lato" sans-serif;
      }

      p {
        text-transform: uppercase;
        font-weight: $f-weight;
        font-size: 20px;
        line-height: 65px;
        letter-spacing: 1.2px;
        font-family: "Lato" sans-serif;
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 20px;

        .btn1 {
          @include btn(inherit,30px, 10px 28px,"Lato" sans-serif, 12px,500,uppercase,0.3s ease-in-out );
          border: 2px solid $w-color;
          color: $w-color;
          &:hover {
            background-color: $w-color;
            color: $b-color;
          }
        }

        .btn2 {
          @include btn(inherit,30px,10px 28px,"Lato" sans-serif,12px,500, uppercase,0.3s ease-in-out);
          border: 2px solid $main-color;
          color: $main-color;
          &:hover {
            background-color: $main-color;
            color: $w-color;
          }
        }
      }
    }

    .slidetext-2 {
      position: absolute;
      text-align: center;
      display: flex;
      gap: 90px;
      top: 20%;
      left: 20%;
      z-index: +11;
      color: $w-color;

      .compimg img {
        width: 400px;
      }

      .text {
        margin-top: 80px;

        h1 {
          text-transform: uppercase;
          font-weight: $f-weight;
          font-size: 35px;
          font-family: "Lato" sans-serif;
          letter-spacing: 0.9;
        }

        p {
          text-align: center;
          font-size: 15px;
          font-family: "Lato" sans-serif;
          font-weight: 500;
          padding-top: 30px;
        }

        button {
          @include btn(
            inherit,
            30px,
            10px 28px,
            "Lato" sans-serif,
            12px,
            500,
            uppercase,
            0.3s ease-in-out
          );
          border: 2px solid $main-color;
          color: $main-color;
          &:hover {
            background-color: $main-color;
            color: $w-color;
          }
        }
      }
    }

    .slidetext-3 {
      position: absolute;
      text-align: center;
      display: flex;
      gap: 100px;
      top: 20%;
      left: 20%;
      z-index: +11;
      color: $w-color;

      .compimg {
        img {
          width: 470px;
        }
      }

      .text {
        margin-top: 60px;

        h1 {
          text-transform: uppercase;
          font-weight: $f-weight;
          font-size: 35px;
          font-family: "Lato" sans-serif;
          letter-spacing: 0.9;
        }

        p {
          text-align: center;
          font-size: 16px;
          font-family: "Lato" sans-serif;
          font-weight: 500;
          padding-top: 25px;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 15px;

        .btn1 {
          @include btn(
            inherit,
            30px,
            10px 28px,
            "Lato" sans-serif,
            12px,
            500,
            uppercase,
            0.3s ease-in-out
          );
          border: 2px solid $w-color;
          color: $w-color;
          &:hover {
            background-color: $w-color;
            color: $b-color;
          }
        }

        .btn2 {
          @include btn(
            inherit,
            30px,
            10px 28px,
            "Lato" sans-serif,
            12px,
            500,
            uppercase,
            0.3s ease-in-out
          );
          border: 2px solid $main-color;
          color: $main-color;
          &:hover {
            background-color: $main-color;
            color: $w-color;
          }
        }
      }
    }

    .slidetext-4 {
      position: absolute;
      text-align: center;
      top: 33%;
      left: 30%;
      z-index: +11;
      color: $w-color;

      h1 {
        text-transform: uppercase;
        font-weight: $f-weight;
        font-size: 45px;
        font-family: "Lato" sans-serif;
      }

      p {
        text-transform: uppercase;
        font-weight: $f-weight;
        font-size: 20px;
        line-height: 65px;
        letter-spacing: 1.2px;
        font-family: "Lato" sans-serif;
      }

      .buttons {
        .btn2 {
          @include btn(
            inherit,
            30px,
            10px 28px,
            "Lato" sans-serif,
            12px,
            500,
            uppercase,
            0.3s ease-in-out
          );
          border: 2px solid $main-color;
          color: $main-color;
          &:hover {
            background-color: $main-color;
            color: $w-color;
          }
        }
      }
    }

   
    .overlay {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url(https://demo.themefisher.com/bizcraft/images/overaly.png);
    }
    @media (max-width:768px) {
      #slide{
        top: 30%;
        left: 4%;
        padding:0px 2px;
        h1{
          font-size: 36px;
        }
        p{
          line-height: 32px;
          font-size: 18px;
          padding-top: 10px;
        }
        img{
          display: none;
        }
      }
      .slidetext-2{
        top: 17% !important;
        left: 2%;
        gap: 0;
        button{
          margin-top:10px;
        }
      }
      .slidetext-3{
        top: 18% !important;
        left: 4% ;
        gap: 0;
        h1{
          font-size: 30px !important;
        }
      }
    }
  }

  .content::before {
    @include contbefor($w-color,"",80px,-34px,absolute,100%,2,skew(0deg,2.5deg));
  }
}
.fixed {
   @include fixed($b-color !important,$w-color !important,40px 0px,fixed,0,0,0,99,0.7s ease-in-out,translateY(-40px));
  p {
    a {
      color: $w-color !important;
    }
  }
  ul {
    li {
      a {
        color: $w-color !important;
      }
    }
  }
  .sidepanel{
    top: 41px;
  }
  .openbtn{
    top: 55px;
  }
}

main {
  .service {
    margin-top: 50px;

    .services {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 40px;

      &:hover {
        .serviceicon {
          color: $main-color;
        }
      }

      .serviceicon {
       @include sericon(2px solid lightgrey,#959595,8px,10px,0.2s ease-in-out);
        i{
          font-size: 30px;
        }

        &:hover {
          color: $main-color;
        }
      }

      .servicetext {
        margin-left: 15px;

        h3 {
        @include serh3(#323232,450,1px,"Lato" sans-serif,0,0); 
        }

        p {
          font-size: 14px;
          color: $g-color;
        }
      }
    }

    .service-card {
      @include sercard(100%,center,center,center,contents);

      .iconcard {
        padding-bottom: 20px;
        color: #545353;
      }

      .main-text {
        color: $g-color;
        font-size: 15px;
        padding: 0px 20px;
      }
    }
    @media (max-width:768px) {
      .services{
        display: block;
        text-align: center;
        .serviceicon{
          border: none;
        }
        h3{
          font-size: 26px;
        }
      }
    }
  }

  .isotope {
    background: #f5f5f5;
    margin-top: 100px;
    
    .grid {
      width: 100%;
      margin: auto;
      position: relative;
    }

    .isotope_head {
    @include isohead(start,center,0.2s ease-in-out);  

      &:hover {
        .isotope_icon {
          color: $main-color;
        }
      }

      .isotope_icon {
        color:$light-color;
        padding-right: 15px;
      }

      .isotope_text {
        p {
         @include isotextP($lg-color,0,0,2px solid #e7e7e7,15px,uppercase,32px, "Lato" sans-serif,$f-weight,00.5px)
        }
      }
    }

    .button-group {
      margin: 80px auto;
      display: table;
    }

    .button {
     @include iso-btn(2px 14px,1px solid #ddd,$lg-color,pointer,inherit,0 8px,0.2s ease-in)
    }

    .button:hover {
      background-color: #323232;
      color: $w-color;
    }

    .button.is-checked {
      background: #323232;
      color: $w-color;
    }

    .element-item {
      position: relative;
      width: 381px;
      background: rgba(0, 0, 0, 0.8);

      &:hover {
        img {
          opacity: 0.3;
        }

        .overlay-opacity {
          opacity: 1;

          h3 {
            opacity: 1;
            margin: 10% 0 10px 0;
            transform: translate3d(0, -40%, 0);
          }
        }
      }

      img {
      @include elimg(1,block,auto,100%,0.5s ease-in-out,hidden);  
      }

      .overlay-opacity {
       @include iso-over(0.5s ease,0,absolute,100%,50%,50%,translate(-50%,-50%),center);
        h3 {
          @include overh3(16px,$w-color,0,25% 0 10px 0,transform 0.35s,translate3d(0,100%,0),"Lato" sans-serif,uppercase,0.5px,$f-weight)
        }

        a {
          @include overa($w-color,25px,5px 5px 10px,inline-block,1,relative,pointer);
        }
        .link {
          font-size: 30px;
        }
      }
      .overlay-opacity::before {
        @include overbefore(absolute,0px,0,0,0,100%,100%,1px solid rgba(255, 255, 255, 0.3)," " )
      }
    }
    @media (max-width:768px) {
      .isotope_head{
        padding-top:30px;
        p{
          font-size: 28px !important;
        }      
      }
      .button{
        margin-bottom: 20px;
      }
      .element-item{
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .number {
    .num_row {
     @include numrow(100%,$lg-color,center,$w-color,visible);
     
      .number_counter {
        width: 100%;
        padding: 46px 40px 30px;
        transition: 0.2s ease-in-out;
        &:hover {
          background-color: #161515;
        }
      }

      .number_text {
        span {
          padding: 20px 0px;
          font-weight: 500;
          font-size: 50px;
        }

        p {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 18px;
        }
      }
    }  
      .col-md-3{
        padding: 0;
      
    }
  }

  .feature {
    margin: 60px 0px;

    .feature_card {
      display: flex;
      justify-content: center;
      margin: 20px;
      padding: 0px 30px;

      .iconimage {
        color: $main-color;

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .feature_text {
        margin-left: 20px;

        h4 {
          color: #323232;
          font-weight: 500;
          font-size: 15px;
        }

        p {
          font-size: 14px;
          color: $g-color;
        }
      }
    }
  }

  .image_card {
    background-color: #e7e7e7;

    .doctorimg {
      padding: 0;
      width: 100%;

      img {
        width: 102%;
        height: 100%;
        object-fit: cover;
        @media (max-width:768px) {
            width: 100%;          
        }
      }
    }

    .doctorcard {
      padding: 90px;
      @media (max-width: 768px) {
        padding: 0;
        
        .meantxt{
          margin-top: 10px !important;
        }
        .doctor_icon{
          width: 90px !important;
          height: 60px !important;
        }
        .dp2_text{
          font-size: 16px !important;
        }
      }

      .meantxt {
        text-align: center;
        font-size: 18px;
        margin: 0;
        color: #323232;
      }

      h1 {
        text-align: center;
        font-weight: $f-weight;
        line-height: 40px;
        color: #323232;
      }

      .minitxt {
        max-width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 0px 50px;
        @media (max-width: 768px) {
          padding: 0;
        }
      }

      .doctortext {
        @include doctext(100%,center,22px,0px 20px);

        .doctor_icon {
        @include docicon(60px,60px,56px,20px,$w-color,$main-color,100%,inline-block,center); 
        }

        .doctor_text {
          padding-top: 10px;

          .dp1_text {
            margin: 0;
            color: #323232;
          }

          .dp2_text {
            font-size: 14px;
            line-height: 30px;
            padding-top: 10px;
            @media (max-width: 768px) {
              line-height: 20px;
            }
          }
        }
      }
    }
  }

  .team {
    margin: 100px 0;
    .team_head {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 30px;

      &:hover {
        .team_icon {
          color: $main-color;
        }
      }

      .team_icon {
        color: $g-color;
        transition: 0.2s ease-in-out;
        padding-right: 15px;
      }

      .team_text {
        padding-left: 15px;
        border-left: 2px solid #e7e7e7;

        h3 {
          @include teamh3($lg-color,0,0,up,30px,"Lato" sans-serif,$f-weight,0.3px)
        }

        .little_text {
          line-height: 14px;
          padding: 0;
          margin: 0;
          font-size: 16px;
        }
      }
    }

    .team_card {
      padding-top: 40px;
      @media (max-width: 768px) {
        text-align: center;
        p,
        h3 {
          text-align: center;
          padding: 0 !important;
        }
        ul {
          margin-left: 28px !important ;
          gap: 34px !important;
        }
      }
      .card_img {
        width: 240px;
        height: 250px;
        position: relative;
        display: inline-block;

        img {
          width: 100%;
          height: 100%;
        }

        .img-top {
        @include teamtop(absolute,left,120px solid $w-color,120px solid $w-color,0px solid transparent,75px solid transparent);
        top: 0;
        }

        .img-bottom {
          @include teamtop(absolute,left,120px solid $w-color,120px solid $w-color,75px solid transparent,0px solid transparent);
          bottom: 0;
        }
      }

      .card_text {
        padding-top: 10px;

        h3 {
        @include cardh3($f-weight,center,20px,0,60px);  
        }

        p {
          text-align: center;
          padding-right: 55px;
          color: #545353;
        }
      }

      ul {
        display: flex;
        text-align: center;
        margin-left: 16px;
        gap: 10px;

        li {
          list-style: none;

          a {
            color: $g-color;
            cursor: pointer;
            transition: 0.2s ease-in;
            &:hover {
              color: blue;
            }
          }

          .icon1 {
            &:hover {
              color: red;
            }
          }

          .icon2 {
            &:hover {
              color: green;
            }
          }

          .icon3 {
            &:hover {
              color: palevioletred;
            }
          }
        }
      }
    }
    @media (max-width:768px) {
      .team_head{
        display: block;
        text-align: center;
        .team_icon{
          padding-bottom: 20px;
          padding-right: 0;
        }
        .team_text{        
          border: none !important;
          .little_text{
            padding-top: 20px;
          }
        }
      }
    }
  }

  .parallax {
   @include parallax(60px 0px,$w-color,cover,fixed,no-repeat,50% 0px,relative,150px 0px);
   background: url(https://demo.themefisher.com/bizcraft/images/parallax/parallax1.jpg);
    .paral {
      position: relative;
      width: 100%;
      color: $w-color;
    }
    .overlay {
      @include overlay(absolute,0,0,0,0,100%,100%);
      background: url(https://demo.themefisher.com/bizcraft/images/overaly.png);
    }

    h2 {
      color: $w-color;
      font-size: 32px;
      line-height: 40px;
      font-weight: $f-weight;
    }

    h3 {
      font-size: 24px;
      line-height: 32px;
      font-weight: $f-weight;
      margin-bottom: 30px;
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding-top: 15px;

      .btn1 {
        @include btn(inherit,30px, 10px 28px,"Lato" sans-serif, 12px,500,uppercase,0.3s ease-in-out );
        border: 2px solid $w-color;
        color: $w-color;

        &:hover {
          background-color: $w-color;
          color: $b-color;
        }
      }

      .btn2 {
        @include btn(inherit,30px,10px 28px,"Lato" sans-serif,12px,500, uppercase,0.3s ease-in-out);
          border: 2px solid $main-color;
          color: $main-color;

        &:hover {
          background-color: $main-color;
          color: $w-color;
        }
      }
    }
  }

  .pricing_table {
    margin-top: 50px;

    .pricing_head {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 40px;

      &:hover {
        .pricingicon {
          color: $main-color;
        }
      }

      .pricingicon {
      @include pricicon(2px solid lightgrey,#959595,8px,10px,0.2s ease-in-out); 
        &:hover {
          color: $main-color;
        }
      }

      .pricingtext {
        margin-left: 15px;

        h3 {
          @include prich3($b-color,450,1px,"Lato" sans-serif,0,0)
        }

        p {
          font-size: 14px;
          color: $g-color;
        }
      }
    }

    .plan {
      border: 1px solid #dedede;
      margin-bottom: 60px;
      position: relative;
      &:hover{
      @include planhov(all 0.2s ease-out,0px 4px 8px rgba(38, 38, 38, 0.2),-8px,1px solid #cccccc,$w-color);
      }

      .plan-name {
       @include pname(block,24px,30px,700,20px 0,#959595);

        small {
          display: block;
          font-size: 11px;
          font-weight: 700;
          line-height: normal;
        }
      }

      .plan-price {
        @include p-price(48px,28px 0,relative,#f2f2f2,0.3s,"Lato",sans-serif,$f-weight,1.6em,$g-color);
        .currency {
         @include currency(1.5em,2.7em,absolute,60%,0,600,baseline)
        }

        sub {
          position: relative;
          left: -1em;
          font-size: 18px;
          font-weight: 600;
        }
      }

      .plan-price.active {
        color: $w-color;
        background-color: $main-color !important;
      }
      .plan-name.active {
        color: $b-color;
      }
      .plan-price.active::after {
        border-top-color: $main-color !important;
      }

      .plan-price::after {
       @include planafter(-30px,solid transparent,"",absolute,15px,#f2f2f2,50%,-16px)
      }

      .list-unstyled {
        background: $w-color;
        padding: 0;
        margin-bottom: 0;
        list-style: none;

        li {
         @include plan-li(1px dashed #dedede,12px 29px,$f-weight,14px,$g-color);
        }

        li:first-child {
          border-top: 0 !important;
        }
      }

      a {
        @include plana($w-color,25px,-20px,2px solid $main-color,$main-color,50px,8px 30px,none,14px,uppercase,all 0.3s ease 0s,pointer);
      }

      &:hover {
        a {
          border: 2px solid$main-color;
          background-color: $main-color !important;
          color: $w-color !important;
        }

        .plan-price {
          background-color: $main-color;
          color: $w-color;
        }
      }
    }
    @media (max-width:768px) {
      .pricing_head{
        display: block;
        text-align: center;
        .pricingicon{
          border: none !important;
        }
        h3{
          font-size: 30px;
        }
      }
      .currency{
        left: 3.7em !important;
      }
    }
  }

  .slider-parallax {
    @include parallax(60px 0px,$w-color,cover,fixed,no-repeat,50% 0px,relative,150px 0px);
    background: url(https://demo.themefisher.com/bizcraft/images/parallax/parallax2.jpg);

    .parallax-overlay {
      @include overlay(absolute,0,0,0,0,100%,100%);
      background: url(https://demo.themefisher.com/bizcraft/images/overaly.png);
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      @include swip-sl(center,18px,center,center);

      .item {
        .testiminial_img {
          display: flex;
          justify-content: center;

          img {
           @include testimg(80px,80px,1px,solid, rgb(142, 142, 142),initial,3px,100%) 
          }
        }

        .testiminial_text {
          p {
            @include testip(16px,24px,800px,30px,inline-block,relative, rgb(255, 255, 255));
          }

          h3 {
            @include testih3(18px,uppercase,rgb(255, 255, 255),10px 0px,32px,$f-weight);

            span {
              @include testispan(uppercase,block,14px,rgb(255, 255, 255),$f-weight,-10px);
            }
          }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .clients {
    .slider {
     @include slider(hidden,80%,100%,0 auto,50px 0);
    }

    .swiper-wrapper {
      transition-timing-function: linear;
    }

    .swiper-slide {
      width: auto;
    }

    .box {
      border: 1px solid rgb(192, 188, 188);
      padding: 10px 16px;
      cursor: pointer;

      &:hover {
        transition: 0.2s ease-in-out;
        border: 1px solid$main-color;
      }
    }
  }
}

footer {
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 60px 0px 100px;
  background: url(https://demo.themefisher.com/bizcraft/images/footer-bg.jpg)
    center 0px / cover no-repeat rgb(46, 46, 46);

  a {
    color: $w-color;

    &:hover {
      color: $main-color;
    }
  }

  h3 {
    @include footh3(25px,$f-weight,20px,uppercase);
  }

  .latest-post-content {
    h4 {
     @include footh4(14px,normal,"Lato" sans-serif,uppercase,0.5px)
    }
  }

  .thumb-holder {
    img {
      display: inline-block;
      width: 95px;
      height: 85px;
      margin: 0px 15px 15px 0px;
    }
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: $f-weight;
    font-size: 15px;
    line-height: 1.6em;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 0;
    line-height: normal;
    color: $main-color;
  }

  .form-control {
    @include formcont(relative,0,0,1px solid rgba(255, 255, 255, 0.251),none,6px 20px,50px,none,#959595,14px,0);

    button {
      @include formbutton(#323232,50px,10px 30px,none,14px,uppercase,all 0.3s ease 0s,2px);
    }
  }
}

#copyright {
  position: relative;
  padding: 30px 0;
  background: #191919;
  color: $w-color;

  .footer-social {
    position: relative;
    list-style: none;
    z-index: 10;
    padding-left: 0;

    li {
      @include copyli(center,center,30px,0)
    }

    a {
      color: #ddd;
      gap: 30px;
      transition: 0.2s ease-in-out;

      &:hover {
        color: $main-color;
      }
    }
  }

  .copyright-info {
    @include copyinfo(16px,1px solid rgba(255, 255, 255, 0.15),850px,30px auto 0,15px)
  }
}

#copyright::before {
  @include copybefore(#191919,"",75px,-37px,absolute,100%,2,skew(0deg,-2deg))
}

#button {
  @include endbutton(inline-block,none,50px,40px,50px,fixed,50px,40px,(background-color 0.3s,opacity 0.5s,visibility 0.5s),0,1000,1px solid $w-color,10px 30px, 2px);
  i {
    @include but-i(12px,$w-color,absolute,23px,10px)
  }
}
#button:hover {
  cursor: pointer;
  background-color: $w-color;
  i {
    color: $b-color;
  }
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.modal-dialog{
  position: relative;
  .modal-content{
   @include modal-con(600px,absolute,100px,0px);
    .modal-body{
      padding: 4px ;
      .modal-img{   
        img{
       width: 100%;
       height: 100%;
        }
      }
      .modal-header{
        padding: 10px;
      }
      .btn-close{
        @include btn-clos(1px solid gray,10px,8px,8px,50%)
      }
      .link{
        @include link(#1d9bf0,0px 0px 3px 3px,center,none,40px,center,4x\px,22px,0.2s ease-in);
        &:hover{
          background-color: #0f69a5;
          width: 65px;

          a{
            display: inline;
            width: 100%;
          }
        }
        i{

          font-size: 13px;
          padding-right: 5px;
          color: $w-color;
        }
        a{
          color: $w-color;
          font-size: 13px;
          display: none;
          
        }
      }
      .link:nth-child(2){
        display: flex;
        background-color: #4267b2;
        &:hover{
          background-color:  rgba(9, 30, 66, 0.988);
        }
      }
    }
  }
}


